*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'Courier New', Courier, monospace; */
    font-family:Verdana, Tahoma, sans-serif;
}
body{
    background-color: #f4c531;
}
.container{
    background-color: #fff;
    width: 90%;
    max-width: 31.25em;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left:50%;
    padding: 5em 3em;
    border-radius: 0.5em;
    border-color: white;
}

.container h3{
    font-size : 1.2em;
    color: black;
    text-align: center;
    font-weight: 600;
    line-height: 1.8em;
}

.container #submit-btn{
    font-size:1.2em;
    font-weight:500;
    border:none;
    display: block;
    cursor: pointer;
    /* color:#23234c; */
    display: block;
    background-color:#f4c531;
    border-radius: 0.3em;
    border: none;
    padding:0.6em 2em;
    margin: 0 auto;

}

.container #next-btn{
    font-size:1.2em;
    font-weight:500;
    border:none;
    display: block;
    cursor: pointer;
    /* color:#23234c; */
    display: block;
    background-color:#f4c531;
    border-radius: 0.3em;
    border: none;
    padding:0.6em 2em;
    margin: 0 auto;

}

.container #stop{
    font-size:1.2em;
    font-weight:500;
    border:none;
    display: block;
    cursor: pointer;
    /* color:#23234c; */
    display: block;
    background-color:#f4c531;
    border-radius: 0.3em;
    border: none;
    padding:0.6em 2em;
    margin: 0 auto;

}

#error-msg{
    text-align: center;
    margin-top: 1em;
    background-color: #ffdde0;
    color: #d62f2f;
    padding: 0.2em 0;
}

.hide{
    display: none;
    visibility: hidden;
}

.container #question {
    background-color: #bebdc3;
    font-size: 2em;
    font-weight: 600;
    color: black;
    text-align: center;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 1.4em 0 1em 0;
    padding: 1em 0;
}

.container input{
    background-color: transparent;
    font-size: 1em;
    width: 2.35em;
    font-weight: 600;
    color: black;
    text-align: center;
    justify-content: center;
    margin: 0 0.25em;
    border:none;
    padding: 0 0.2em;
    border-bottom: 0.12em solid #23234c;
}

.container input:focus{
    border-color: black;
    outline: none;
}

.controls-container{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f4c531;
    flex-direction: column;
    height: 100%;
    width: 100%;
    top:0;
}

#start-btn{
    background-color: #fff;
    font-size: 1.2em;
    font-weight: 600;
    color: #000;
    text-align: center;
    justify-content: center;
    margin: 0 0.25em;
    border:none;
    cursor: pointer;
    border-radius: 0.3em;
    padding: 0.8em 1.8em;
    border-bottom: 0.12em solid #23234c; 
} 

#result {
    margin-bottom: 1em;
    font-size: 1.5em;
    color: #23234c;
}

#result span{
    font-weight: 600;
}
/* Hide Number Arrow */